aiocron==1.8
aiofiles==24.1.0
aiohttp==3.11.11
base58check==1.0.2
dnspython==2.7.0
gitdb==4.0.11
GitPython==3.1.43
motor==3.6.0
mutagen==1.47.0
Pillow==11.0.0
psutil==6.1.1
pykeyboard==0.1.5
pyrogram==2.0.106
pyromod==1.5
requests==2.32.3
TgCrypto==1.2.5
unzip-http==0.6
