aiofiles==23.2.1
aiohttp==3.8.5
base58check==1.0.2
dnspython==2.4.2
gitdb==4.0.10
GitPython==3.1.37
motor==3.3.1
Pillow==10.0.1
psutil==5.9.5
pykeyboard==0.1.5
pyrogram==2.0.106
pyromod==1.5
requests==2.31.0
TgCrypto==1.2.5
unzip-http==0.4
